<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventarioApp"
        tools:targetApi="34">
        <activity
            android:name=".view_sale_read.ReadSaleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view_add_data.AddDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_edit_shirt.EditShirtActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_shirt_read.ReadShirtActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_search_shirts.SearchShirtActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_menu_app.MenuActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view_sales.ViewSalesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_delete_shirt.DeleteShirtActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_add_shirt.AddShirtActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_add_sales.AddSalesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
    </application>

</manifest>